{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <!-- navbar section -->
    <nav id = "navbar" class = "flex s-around bg-color">
        <div class = "left-nav">
            <h2 class = "t-white">Portfolio</h2>
        </div>
        <div class = "right-nav">
            <li><a href = "#home" class = "t-white roboto">Home<i class = "fa-solid fa-hous"></i></a></li>
            <li><a href = "#about" class = "t-white roboto">About me<i class = "fa-solid fa-hous"></i></a></li>
            <li><a href = "#skills" class = "t-white roboto">Skills<i class = "fa-solid fa-hous"></i></a></li>
            <li><a href = "#home" class = "t-white roboto">Home<i class = "fa-solid fa-hous"></i></a></li>
            <li><a href = "#home" class = "t-white roboto">Home<i class = "fa-solid fa-hous"></i></a></li>
            </li>    </nav>

</body>
</html>
